.maincalc{

    background: radial-gradient(at 63.831020761909315% 39.46645514263153%, hsla(192.7659574468085, 23.383084577114428%, 60.588235294117645%, 1) 0%, hsla(180, 13%, 88%, 0) 100%), radial-gradient(at 83.35698177184067% 26.265520839082555%, hsla(0, 8.035714285714283%, 56.07843137254902%, 1) 0%, hsla(0, 8.035714285714283%, 56.07843137254902%, 0) 100%), radial-gradient(at 44.21546368178125% 61.680780752408324%, hsla(222.85714285714292, 3.7433155080213845%, 36.66666666666667%, 1) 0%, hsla(222.85714285714292, 3.7433155080213845%, 36.66666666666667%, 0) 100%), radial-gradient(at 16.329583199291097% 61.58871198853024%, hsla(211.83673469387756, 21.58590308370044%, 44.509803921568626%, 1) 0%, hsla(211.83673469387756, 21.58590308370044%, 44.509803921568626%, 0) 100%), radial-gradient(at 66.98596951539398% 51.66331902426943%, hsla(192.7659574468085, 23.383084577114428%, 60.588235294117645%, 1) 0%, hsla(192.7659574468085, 23.383084577114428%, 60.588235294117645%, 0) 100%), radial-gradient(at 82.4467476653918% 70.08041042337531%, hsla(0, 8.035714285714283%, 56.07843137254902%, 1) 0%, hsla(0, 8.035714285714283%, 56.07843137254902%, 0) 100%), radial-gradient(at 99.41566478492652% 34.94126872699474%, hsla(222.85714285714292, 3.7433155080213845%, 36.66666666666667%, 1) 0%, hsla(222.85714285714292, 3.7433155080213845%, 36.66666666666667%, 0) 100%), radial-gradient(at 34.29911097582964% 87.42121293007638%, hsla(211.83673469387756, 21.58590308370044%, 44.509803921568626%, 1) 0%, hsla(211.83673469387756, 21.58590308370044%, 44.509803921568626%, 0) 100%), radial-gradient(at 15.959159570731318% 80.97908360855965%, hsla(192.7659574468085, 23.383084577114428%, 60.588235294117645%, 1) 0%, hsla(192.7659574468085, 23.383084577114428%, 60.588235294117645%, 0) 100%), radial-gradient(at 21.670796068017996% 98.37251755879188%, hsla(0, 8.035714285714283%, 56.07843137254902%, 1) 0%, hsla(0, 8.035714285714283%, 56.07843137254902%, 0) 100%), radial-gradient(at 85.83754613163664% 84.74648471219527%, hsla(222.85714285714292, 3.7433155080213845%, 36.66666666666667%, 1) 0%, hsla(222.85714285714292, 3.7433155080213845%, 36.66666666666667%, 0) 100%);            
    height: 500px;
    width: 400px;
    border-radius: 30px;
    margin-left: 500px;
    margin-top: 100px;
    box-shadow: -1px 3px 47px 8px rgba(0,0,0,0.75);
    border: 2px solid black;






   }

   body{

       height: 100vh;
       
       background: radial-gradient(at 21.980550567522773% 29.650507060184793%, hsla(0, 0%, 90.19607843137256%, 1) 0%, hsla(0, 0%, 90.19607843137256%, 0) 100%), radial-gradient(at 5.675583183471655% 56.09646661582133%, hsla(0, 0%, 78.43137254901961%, 1) 0%, hsla(0, 0%, 78.43137254901961%, 0) 100%), radial-gradient(at 46.95963957828448% 81.16631764526292%, hsla(0, 0%, 67.05882352941175%, 1) 0%, hsla(0, 0%, 67.05882352941175%, 0) 100%), radial-gradient(at 24.547757547950756% 51.598496103273405%, hsla(0, 0%, 45.09803921568628%, 1) 0%, hsla(0, 0%, 45.09803921568628%, 0) 100%), radial-gradient(at 48.834625417466015% 99.61010503814197%, hsla(0, 0%, 90.19607843137256%, 1) 0%, hsla(0, 0%, 90.19607843137256%, 0) 100%), radial-gradient(at 13.418770287805938% 54.396993215925725%, hsla(0, 0%, 78.43137254901961%, 1) 0%, hsla(0, 0%, 78.43137254901961%, 0) 100%), radial-gradient(at 82.1907139703395% 98.68780554195669%, hsla(0, 0%, 67.05882352941175%, 1) 0%, hsla(0, 0%, 67.05882352941175%, 0) 100%), radial-gradient(at 91.3445121317676% 19.543600342422017%, hsla(0, 0%, 45.09803921568628%, 1) 0%, hsla(0, 0%, 45.09803921568628%, 0) 100%), radial-gradient(at 72.11722378277973% 65.71232820185257%, hsla(0, 0%, 90.19607843137256%, 1) 0%, hsla(0, 0%, 90.19607843137256%, 0) 100%), radial-gradient(at 74.96403577774726% 74.1335580753314%, hsla(0, 0%, 78.43137254901961%, 1) 0%, hsla(0, 0%, 78.43137254901961%, 0) 100%);            
   }


   .subcal{

       width: 325px;
       height: 60px;
                                                      background: radial-gradient(at 1.073859196308602% 75.47083818781827%, hsla(216.48000000000002, 64.1025641025641%, 38.23529411764706%, 1) 0%, hsla(216.48000000000002, 64.1025641025641%, 38.23529411764706%, 0) 100%), radial-gradient(at 88.09308338814598% 0.7674120559947983%, hsla(216.8, 39.682539682539684%, 62.94117647058823%, 1) 0%, hsla(216.8, 39.682539682539684%, 62.94117647058823%, 0) 100%), radial-gradient(at 69.35054250905625% 59.624897227576604%, hsla(216, 34.24657534246575%, 42.94117647058823%, 1) 0%, hsla(216, 34.24657534246575%, 42.94117647058823%, 0) 100%), radial-gradient(at 15.874495789572695% 24.10521076093495%, hsla(216.8, 64.1025641025641%, 22.941176470588236%, 1) 0%, hsla(216.8, 64.1025641025641%, 22.941176470588236%, 0) 100%), radial-gradient(at 84.3520048048272% 62.17501918260937%, hsla(216, 64.1025641025641%, 15.294117647058824%, 1) 0%, hsla(216, 64.1025641025641%, 15.294117647058824%, 0) 100%), radial-gradient(at 53.512179820846995% 25.851499833638858%, hsla(216.48000000000002, 64.1025641025641%, 38.23529411764706%, 1) 0%, hsla(216.48000000000002, 64.1025641025641%, 38.23529411764706%, 0) 100%), radial-gradient(at 15.852982559519347% 95.60410398545073%, hsla(216.8, 39.682539682539684%, 62.94117647058823%, 1) 0%, hsla(216.8, 39.682539682539684%, 62.94117647058823%, 0) 100%), radial-gradient(at 23.715045223257558% 61.74575946670746%, hsla(216, 34.24657534246575%, 42.94117647058823%, 1) 0%, hsla(216, 34.24657534246575%, 42.94117647058823%, 0) 100%), radial-gradient(at 20.434148174964495% 19.09932674720649%, hsla(216.8, 64.1025641025641%, 22.941176470588236%, 1) 0%, hsla(216.8, 64.1025641025641%, 22.941176470588236%, 0) 100%), radial-gradient(at 41.596516512133185% 32.957517716681565%, hsla(216, 64.1025641025641%, 15.294117647058824%, 1) 0%, hsla(216, 64.1025641025641%, 15.294117647058824%, 0) 100%), radial-gradient(at 85.06638570553191% 17.564518304661636%, hsla(216.48000000000002, 64.1025641025641%, 38.23529411764706%, 1) 0%, hsla(216.48000000000002, 64.1025641025641%, 38.23529411764706%, 0) 100%);            
       border-radius: 20px;
       justify-self: center;
       margin-top: 30px;
       border: 1px solid white;
      
      
       

       


   }







.mainh{


   font-family: 'Orbitron', sans-serif;
   font-size: 50px;
   background: #F6F8F9;
   background: radial-gradient(circle farthest-corner at center center, #F6F8F9 0%, #E5EBEE 30%, #D7DEE3 60%, #F5F7F9 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   
   font-weight: bold;
   text-align: center;
   margin-top: -5px;

   



}




/* bmi page  */



.tip{
  
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 80px;

}

.tipbtn{
    width: 140px;
   height: 60px;
   border: none;
   border-radius: 40px;
   font-family: 'Orbitron', sans-serif;
   font-weight: bold;
   box-shadow: -1px 5px 28px -2px rgba(0,0,0,0.75);
  margin-top: 0px;
 margin-left: 130px;

}

.tipbtn:hover{

    background-color: rgb(41, 40, 40);
    color: white;
    width: 150px;
    height: 70px;

 
 }


 .labeltip{

   
   
    
   font-family: 'Orbitron', sans-serif;
   text-align: center;
   

   
    
    font-size: 20px;
    
    
 
 }

 

 